@page "/acerca_de"

<PageTitle>Acerca de</PageTitle>

<h1>Acerca de</h1>

<img src="image/perfil1.PNG" width="150px" alt="foto de estudiante">

<p><h3>Nombre Completo:</h3>Cristopher Alejandro Santana Peralta</p>

<h3>Matricula:</h3><p>2023-1193</p>

<p><h3>Enlaces para chatear:</h3>
        <div class="mt-3">
            <a  href="https://wa.me/18099121810?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno%20,%20Te%20pagaremos%20mucho%20dinero"  class="btn btn-success" target="_blank"><i class="bi bi-whatsapp"></i> Chat en WhatsApp</a> 
            <a href="https://t.me/casp06?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno%20,%20Te%20pagaremos%20mucho%20dinero"  class="btn btn-info" target="_blank"><i class="bi bi-telegram"></i> Chat en Telegram</a>
        </div>
</p>